/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
  --pri: #f46a37;
  --sec: #ffffff;
  --ter: rgb(95, 51, 7);
  --tri1: #feba17;
  --tri2: #74512d;
  --text: #1a1a1a;
  --accent: #361806;
  --bg: #fff4ec;
  --btn: rgb(233, 180, 23);
  --cardText: #ffffff;
}

@font-face {
  font-family: Aeonik;
  font-weight: 200;
  src: url(./AeonikTRIAL-Light.otf);
}

@font-face {
  font-family: Aeonik;
  font-weight: 500;
  src: url(./AeonikTRIAL-Bold.otf);
}

@font-face {
  font-family: Aeonik;
  font-weight: 700;
  src: url(./AeonikTRIAL-Regular.otf);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--accent);
}

main {
  height: 100%;
  width: 100%;
  font-family: Aeonik;
  background-color: var(--bg);
  color: var(--text);
  position: relative;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 1);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 1);
  overflow: hidden;
}

.info {
  margin-top: 6%;
  border-radius: 12px;
  height: 42.5%;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 40px;
  background: url(https://images.unsplash.com/photo-1717361279773-b2e7ee713d2e?q=80&w=3869&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
}

.info .header1 h1 {
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 60px;
}

.info .header1 h2 {
  font-size: 40px;
  font-weight: 500;
}

.info .header1 h4 {
  font-weight: 500;
  font-size: 40px;
}

.info .header2 h2 {
  font-weight: 700;
  font-size: 70px;
}

.info .header2 h4 {
  font-weight: 500;
  margin-top: -10px;
  margin-bottom: 45px;
  font-size: 40px;
}

.info .header2 h3 {
  font-weight: 500;
  font-size: 20px;
  opacity: 0.8;
}

.allElems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 42.5%;
  width: 100%;
}

.elem {
  border-radius: 12px;
  background: var(--sec);
  height: 100%;
  width: 18%;
  position: relative;
  overflow: hidden;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.elem:active {
  scale: 0.95;
}

.elem img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.elem h1 {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: var(--cardText);
  font-size: 1.7rem;
  font-family: Aeonik;
  font-weight: 500;
}

.fullElem {
  height: 100%;
  width: 100%;
  background-color: var(--bg);
  font-size: 30px;
  display: none;
  padding: 20px;
  border-radius: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.close {
  font-size: 1rem;
  background-color: red;
  padding: 10px 15px;
  position: absolute;
  right: 5%;
  border: none;
  color: white;
  border-radius: 12px;
  cursor: pointer;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  z-index: 50;
  text-transform: lowercase;
}
.close::first-letter {
  text-transform: uppercase;
}

.close:active {
  scale: 0.95;
}

.to-do-fullpage .to-do-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 90%;
  padding: 20px;
  gap: 20px;
}

.to-do-fullpage .to-do-container .add-task {
  border-radius: 20px;
  border: none;
  background-color: var(--tri2);
  width: 35%;
  height: 100%;
  padding: 30px;
}

.add-task form {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}

.to-do-container .add-task form input {
  background-color: var(--bg);
  height: 10%;
  padding: 10px;
  outline: none;
  font-size: 22px;
  border: none;
  border-radius: 5px;
  font-family: Aeonik;
  font-weight: 400;
}

.to-do-container .add-task form textarea {
  font-family: Aeonik;
  font-weight: 400;
  background-color: var(--bg);
  height: 50%;
  padding: 10px;
  outline: none;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}

.mark-imp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 10px 10px;
  width: 100%;
  gap: 15px;
  font-size: 18px;
  color: white;
  font-weight: 300;
}

.mark-imp input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border: 3px solid var(--sec);
  border-radius: 4px;
  background: var(--bg);
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.mark-imp input[type="checkbox"]:checked {
  background: blue;
  border-color: var(--pri);
}

.mark-imp input[type="checkbox"]:checked::after {
  content: "✓";
  color: white;
  position: absolute;
  content: "✓";
  font-size: 15px;
  top: 0px;
  left: 4px;
}

.to-do-container .add-task form button {
  background-color: var(--btn);
  color: var(--sec);
  height: 8%;
  padding: 10px;
  outline: none;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.to-do-container .add-task button:active {
  scale: 0.95;
}

.all-task {
  border-radius: 20px;
  border: none;
  background-color: var(--tri2);
  width: 65%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 30px;
  overflow: auto;
}

.all-task .task {
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--bg);
  height: 15%;
  padding: 20px;
  margin-bottom: 10px;
}

.task h5 {
  font-size: 24px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  color: var(--pri);
}

.task h5 span {
  background-color: red;
  color: var(--sec);
  padding: 4px 6px;
  border-radius: 60px;
  font-size: 11px;
}

.task h5 span.true {
  opacity: 1;
}

.task h5 span.false {
  opacity: 0;
}

.task button {
  background-color: green;
  padding: 10px 20px;
  color: var(--sec);
  border: none;
  border-radius: 5px;
}

.daily-planner-fullpage .day-planner {
  background-color: var(--tri2);
  height: 85%;
  margin-top: 40px;
  width: 100%;
  border-radius: 10px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  overflow: auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.daily-planner-fullpage .day-planner .day-planner-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 49%;
  margin-bottom: 15px;
}

.day-planner .day-planner-time p {
  position: absolute;
  top: 12%;
  left: 2%;
  color: var(--sec);
  font-size: 16px;
}

.day-planner .day-planner-time input {
  padding: 20px 45px;
  width: 100%;
  background-color: var(--accent);
  color: var(--pri);
  border-radius: 15px;
  border: none;
  font-size: 35px;
  padding-top: 34px;
  outline: none;
}

.motivation-fullPage-container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.motivational-fullpage .motivation-container {
  height: 600px;
  width: 80%;
  border-radius: 50px;
  position: relative;
}

.motivational-fullpage .motivation-container::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--tri1);
  border-radius: 50px;
  scale: 1.15;
  -webkit-filter: blur(100px);
  filter: blur(100px);
  z-index: 8;
}

.motivational-fullpage .motivation-container .motivation-wrapper {
  z-index: 10;
  position: absolute;
  width: 100%;
  background-color: rgb(195, 138, 15);
  padding: 20px;
  border-radius: 30px;
  border: 6px solid var(--tri2);
}

.motivation-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.motivation-1 h2 {
  background-color: var(--tri2);
  padding: 30px;
  border-radius: 20px;
  font-size: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 500;
  text-align: right;
}

.motivation-2 {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.motivation-2 h1 {
  font-size: 45px;
  font-weight: 700;
  color: var(--sec);
}

.motivation-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.motivation-3 h2 {
  background-color: var(--tri2);
  padding: 30px;
  border-radius: 20px;
  font-size: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 500;
  text-align: right;
}

.motivational-fullpage .motivation-container .motivation-wrapper img {
  position: absolute;
  right: 5%;
  opacity: 0.2;
  top: 5%;
  height: 120px;
}

.pomodoro-fullpage h2 {
  font-size: 50px;
}

.pomodoro-fullpage .pomo-timer {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.pomo-timer h1 {
  font-size: 170px;
  margin-top: 20px;
}

.pomo-timer button {
  background-color: var(--tri2);
  padding: 15px 40px;
  font-size: 32px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 7px 7px 0px black;
  box-shadow: 7px 7px 0px black;
  -webkit-transition: all ease 0.1s;
  -o-transition: all ease 0.1s;
  transition: all ease 0.1s;
  font-weight: 700;
}

.pomo-timer button:active {
  -webkit-box-shadow: 0px 0px 0px black;
  box-shadow: 0px 0px 0px black;
}

.pomodoro-fullpage .session {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background-color: green;
  color: var(--sec);
  padding: 15px 30px;
  font-size: 30px;
  border-radius: 5px;
}

.daily-goals-fullpage .goals-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 90%;
  margin-top: 20px;
  width: 100%;
  padding: 20px;
  gap: 20px;
}

.daily-goals-fullpage .add-goal {
  width: 35%;
  background-color: var(--tri2);
  padding: 30px;
  border-radius: 20px;
}

.daily-goals-fullpage .add-goal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.daily-goals-fullpage .add-goal form input {
  background-color: var(--bg);
  border: none;
  border-radius: 8px;
  font-size: 22px;
  padding: 12px;
  outline: none;
}

.daily-goals-fullpage .add-goal form button {
  background-color: var(--btn);
  border: none;
  color: var(--sec);
  padding: 10px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}
.daily-goals-fullpage .add-goal form button:active {
  scale: 0.95;
}

.daily-goals-fullpage .all-goals {
  width: 65%;
  background-color: var(--tri2);
  padding: 30px;
  border-radius: 20px;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
}

.daily-goals-fullpage .goal {
  background-color: var(--bg);
  border-radius: 10px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.daily-goals-fullpage .goal h3 {
  font-size: 22px;
  font-weight: 500;
  color: var(--pri);
}

.daily-goals-fullpage .goal button {
  background-color: green;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  cursor: pointer;
}

.daily-goals-fullpage .goal.completed h3 {
  color: gray;
  text-decoration: line-through;
}
.daily-goals-fullpage .goal.completed button {
  background-color: gray;
}

nav {
  position: fixed;
  top: 0;
  z-index: 99;
  height: 6%;
  width: 100%;
  padding: 10px 20px;
  -webkit-transition: opacity 0.25s ease, visibility 0.25s ease;
  -o-transition: opacity 0.25s ease, visibility 0.25s ease;
  transition: opacity 0.25s ease, visibility 0.25s ease;
}

.nav-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--tri2);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 30px;
  border-radius: 10px;
}

.nav-in h2 {
  font-size: 30px;
  font-weight: 700;
}

.theme {
  background-color: var(--pri);
  padding: 12px 20px;
  border-radius: 10px;
  -webkit-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
  cursor: pointer;
}

.theme h4 {
  color: var(--sec);
  font-weight: 700;
  font-size: 20px;
  pointer-events: none;
}

.theme:active {
  scale: 0.96;
}

nav.hidden {
  opacity: 0;
  visibility: hidden;
}
